body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
   padding: 10px;
} 

main {
    padding: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

img {
    max-width: 150px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
